<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="StoreProcedureGenerator.Properties.Settings.InternalConnection"
            connectionString="Data Source=|DataDirectory|\InternalDB.sdf"
            providerName="Microsoft.SqlServerCe.Client.3.5" />
    </connectionStrings>
</configuration>